@use "sass:map";
@use "../config";
@use "../mixin" as *;

$-radius-utils: (
	(
		property: border-radius,
		class: radius,
		values: (
			none: 0,
			default: config.$radius,
			double: config.$radius * 2,
			full: 999px
		)
	)
);

@include utility-make-utilities($-radius-utils);
